form{
    
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    border: solid brown;
    text-align: left;
}

h1{
    text-align: center;
    color: blue;
    font-size: 20pt;
}